<header>
    <div class="page-foodfy">
        <div class="title">
        <h1 class="sr-only">Foodfy</h1>

        <a href="/">
            <img src="/assets/logo.png" alt="Foodfy">
        </a>
        </div>

        <nav>
            <ul>
                <li><a href="/about">Sobre</a></li>
                <li><a href="/recipes">Receitas</a></li>
                <li><a href="/chefs">Chefs</a></li>
            </ul>
        </nav>
    </div>

    <div class="button-admin-page">
        <a href="/admin/profile">
            <span class="material-icons md-18">person</span>
            {% if session.userId %}
                Perfil
            {% else %}
                Entrar
            {% endif %}
        </a>
    </div>
    

    {% block search %}
        <div class="input-search">
            <form action="/search" method="GET">
                <input 
                    type="text" 
                    name="search"
                    value="{{search}}"
                    placeholder="Buscar uma receita"
                >
                <button>Buscar</button>
            </form>
        </div>
    {% endblock %}
</header>