{% extends "layout.njk" %}

{% block title %}
    <title>Detalhes Foodfy</title>
{% endblock %}

{% block header %}
    <header class="header-background">
        <div class="header-menu-box">
            <div class="title">
                <h2 class="sr-only">Admin Foodfy</h2>

                <a href="/admin/recipes">
                    <img src="/assets/admin-logo.png" alt="Foodfy">
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block contents %}
    <form action="">
        <div class="recipe-detail">
            <span class="detail-title">Receita: {{recipes[0].title}}</span>

            <div class="buttons">
                <a class="delete-button">Deletar</a>
                <a class="edit-button">Salvar Receita</a>
            </div>
        </div>

        <div class="recipe-edit">
            <div class="recipe">

                {# MUDAR SELETOR SPAN PARA DIV, EM TODOS #}

                <span>Imagem da receita</span>
                <input type="url" name="" id="" value="{{recipes[0].image}}">
            </div>

            <div id="ingredients">
                <div class="ingredient">
                    <span>Ingredients</span>
                    <input name="" id="" value="{{recipes[0].ingredients[0]}}">
                    <input name="" id="" value="{{recipes[0].ingredients[1]}}">
                    <input name="" id="" value="{{recipes[0].ingredients[2]}}">
                    <button>Adicionar novo ingrediente</button>
                </div>
            </div>

            <div class="preparation">
                <span>Modo de preparo</span>
                <input name="" id="" value="{{recipes[0].preparation[0]}}">
                <input name="" id="" value="{{recipes[0].preparation[1]}}">
                <input name="" id="" value="{{recipes[0].preparation[2]}}">
                <button>Adicionar novo ingrediente</button>
            </div>

            <div class="information">
                <span>Informações adicionais</span>
                {# Arrumar aqui #}
                <textarea name="" id="" placeholder="{{recipes[0].information}}"></textarea>
            </div>
        </div>
    </form>
{% endblock %}

{% block footer %}
    
{% endblock %}