<header class="header-background">
    <div class="box-admin-header-menu">
        <div class="title">
            <h2 class="sr-only">Admin Foodfy</h2>

            <a href="/admin/recipes">
                <img src="/assets/admin-logo.png" alt="Foodfy">
            </a>
        </div>

        <nav>
            <ul class="links">
                <li><a href="/admin/recipes">Receitas</a></li>
                <li><a href="/admin/chefs">Chefs</a></li>
                <li class="accounts">
                    {# quando criar a página profile, coloque a rota neste link #}
                    <a href="#">Usuários</a>
                    {% if session.userId %}
                        <span class="accounts-hover"></span>
                        <ul class="submenu">
                            <span class="arrow"></span>
                            <li>
                                {# quando criar a página profile, coloque a rota neste link #}
                                <a href="/admin/profile">
                                    {# <span class="material-icons md-18">face</span> #}
                                    <span class="material-icons md-18">account_circle</span>
                                    Minha conta
                                </a>
                            </li>
                            {# {% if user.is_admin == true %} #}
                                <li>
                                    <a href="/admin/users/create">
                                        <span class="material-icons">person_add</span>
                                        Criar usuário
                                    </a>
                                </li>
                            {# {% endif %} #}

                            {# {% if user.is_admin %} #}
                                <li>
                                    {# quando criar a página com a listagem de usuários, colocar o link aqui #}
                                    <a href="/admin/users">
                                        <span class="material-icons">supervisor_account</span>
                                        Usuários Cadastrados
                                    </a>
                                </li>
                            {# {% endif %} #}
                            
                            <li>
                                {# quando criar a página com a listagem de usuários, colocar o link aqui #}
                                <a href="/">
                                    <span class="material-icons">home</span>
                                    Site Foodfy
                                </a>
                            </li>
                            <li>
                                <form action="/admin/users/logout" method="POST">
                                    <button>
                                        <span class="material-icons">logout</span>
                                        Sair
                                    </button>
                                </form>
                            </li>
                        </ul>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
</header>