<header class="session-header">
    <div class="title">
        <h2 class="sr-only">Admin Foodfy</h2>

        <a href="/admin/users/login">
            <img src="/assets/logo.png" alt="Foodfy">
        </a>
    </div>
</header>