{% extends "layout.njk" %}

{% block title %}
    <title>Foodfy</title>
{% endblock %}

{% block contents %}
    <section class="box-chef">
        <div class="box-info">
            <h2>As melhores receitas</h2>
            <p>
                Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
            </p>
        </div>

        <div class="box-img-chef">
            <img src="/assets/chef.png" alt="Imagem Chef">
        </div>
    </section>

    <section class="cards-food">
        <h3>Mais acessadas</h3>
        
        <div class="cards">
            <div class="card">
                <div class="card-img">
                    <img src="{{revenues[0].image}}" alt="{{revenues[0].title}}">
                </div>

                <div class="card-info">
                    <h4>{{revenues[0].title}}</h4>
                    <p>{{revenues[0].author}}</p>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="{{revenues[1].image}}" alt="{{revenues[1].title}}">
                </div>

                <div class="card-info">
                    <h4>{{revenues[1].title}}</h4>
                    <p>{{revenues[1].author}}</p>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="{{revenues[2].image}}" alt="{{revenues[2].title}}">
                </div>

                <div class="card-info">
                    <h4>{{revenues[2].title}}</h4>
                    <p>{{revenues[2].author}}</p>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="{{revenues[3].image}}" alt="{{revenues[3].title}}">
                </div>

                <div class="card-info">
                    <h4>{{revenues[3].title}}</h4>
                    <p>{{revenues[3].author}}</p>
                </div>
            </div>
            
            <div class="card">
                <div class="card-img">
                    <img src="{{revenues[4].image}}" alt="{{revenues[4].title}}">
                </div>

                <div class="card-info">
                    <h4>{{revenues[4].title}}</h4>
                    <p>{{revenues[4].author}}</p>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="{{revenues[5].image}}" alt="{{revenues[5].title}}">
                </div>

                <div class="card-info">
                    <h4>{{revenues[5].title}}</h4>
                    <p>{{revenues[5].author}}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}