{% extends "layout.njk" %}

{% block title %}
    <title>Receitas</title>
{% endblock %}

{% block contents %}
    <section class="cards-food">
        <div class="cards">
            {% for revenue in revenues %}
                <div class="card" id="{{revenue.id}}">
                    <div class="card-img">
                        <img src="{{revenue.image}}" alt="{{revenue.title}}">
                    </div>

                    <div class="card-info" id="{{revenue.title}}">
                        <h4>{{revenue.title}}</h4>
                        <p>{{revenue.author}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block modalOverlay %}
    <div class="modal-overlay">
        <div class="modal">
            <div class="modal-image">
                <img src="" alt="">
            </div>

            <div class="modal-content">
                <span class="title-dish">
                    Asinhas de frango ao barbecue
                </span>

                <span class="name-user">
                    por Vania Steroski
                </span>
            </div>

            <div class="modal-close">
                <a>Fechar modal</a>
            </div>
        </div>
    </div>
    <script src="/scripts.js"></script>
{% endblock %}
