{% extends "layout.njk" %}

{% block title %}
    <title>Foodfy</title>
{% endblock %}

{% block contents %}
    <section class="box-chef">
        <div class="box-info">
            <h2>As melhores receitas</h2>
            <p>
                Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
            </p>
        </div>

        <div class="box-img-chef">
            <img src="/assets/chef.png" alt="Imagem Chef">
        </div>
    </section>

    <section class="cards-food">
        <h3>Mais acessadas</h3>
        
        <div class="cards">
            {% for recipe in recipes %}
                <div class="card" id="{{recipe.id}}">
                    <div class="card-img" style="background-image: url('{{recipe.img}}')">
                    </div>

                    <div class="card-info">
                        <h4>{{recipe.title}}</h4>
                        <p>por {{recipe.chefs_name}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}