{% extends "layout.njk" %}

{% block title %}
    <title>Receitas</title>
{% endblock %}

{% block contents %}
    <section class="cards-food">
        <div class="cards">
            {% for recipe in recipes %}
                <div class="card" id="{{recipe.id}}">
                    <div class="card-img" style="background-image: url('{{recipe.img}}')">
                    </div>

                    <div class="card-info" id="{{recipe.title}}">
                        <h4>{{recipe.title}}</h4>
                        <p>por {{recipe.chefs_name}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{# Ajustar esse footer ao fundo da página, respeitando todos os espaços e tamanhos de tela para monitores #}
{% block footer %}
    <footer class="recipes-footer">
        <span>Todos os direitos reservados, receitas Foodfy</span>
    </footer>
{% endblock %}
