{% extends "layout.njk" %}

{% block title %}
    <title>Page not found</title>
{% endblock %}

{% block contents %}
    <div class="box-error">
        <div class="error-message">
            <div class="error-image">
                <img src="/assets/error-404.png" alt="">
            </div>

            <div class="error-info">
                <span>Ops! Acho que não temos essa receita.</span>
                <span>
                    Não fique aqui com fome, volte para a <a href="/">página inicial</a>.
                </span>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %} {% endblock %}