<div class="recipe-fields">
    <div class="recipe">
        <div class="name-input">Imagem da receita</div>
        <input type="url" name="image" value="{{recipe.image}}">
    </div>

    <div class="preparation">
        <div class="name-input">Título da receita</div>
        <input name="title" value="{{recipe.title}}">
    </div>

    <div class="preparation">
        <div class="name-input">Chef</div>
        <div>
            <select name="chef">
                {% for chef in chefsOptions %}
                    <option 
                        value="{{chef.id}}"
                        {% if recipe.chef_id == chef.id %}
                            selected
                        {% endif %}
                    >
                        {{ chef.name }}
                    </option>
                {% endfor %}
            </select>
        </div>


        {# <input name="author" value="{{recipe.author}}"> #}
    </div>

    <div id="ingredients">
        <div class="ingredient">
            <div class="name-input">Ingredientes</div>
            
            <input name="ingredients[]">

            {% for ingredient in recipe.ingredients %}
                <input name="ingredients[]" value="{{ingredient}}">
            {% endfor %}

            <div class="box-ingredients"></div>
            
            <button class="add-button add-ingredient" type="button">
                Adicionar novo ingrediente
            </button>
        </div>
    </div>

    <div class="preparation">
        <div class="name-input">Modo de preparo</div>

        <input class="input-script" name="preparation[]">

        {% for preparation in recipe.preparation %}
            <input name="preparation[]" value="{{preparation}}">
        {% endfor %}

        <div class="box-preparation"></div>

        <button class="add-button add-preparation" type="button">
            Adicionar novo passo
        </button>
    </div>

    <div class="information">
        <div class="name-input">Informações adicionais</div>
        <textarea name="information">{{recipe.information}}</textarea>
    </div>
</div>