<div class="recipe-fields">
    <div class="recipe">
        <div class="name-input">Imagem da receita</div>
        <div class="images-box">
            <div id="photos-upload">
                <input 
                    id="photos-input"
                    type="file"
                    name="photos"
                    multiple
                    accept="image/*"
                    onChange="PhotosUpload.handleFileInput(event)"
                >
                <div class="add-image-button">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div id="photos-preview">
                {% if files %}
                    {% for image in files %}
                        <div class="photo" id="{{image.id}}">
                            <img src="{{image.src}}" alt="{{image.name}}">
                            <i 
                                class="fas fa-times"
                                onclick="PhotosUpload.removeOldPhoto(event)"
                            ></i>
                        </div>
                    {% endfor %}
                {% endif %}
                <input type="hidden" name="removed_files">
            </div>
        </div>
    </div>

    <div class="preparation">
        <div class="name-input">Título da receita</div>
        <input name="title" value="{{recipe.title}}">
    </div>

    <div class="preparation">
        <div class="name-input">Chef</div>
        <div>
            <select name="chef">
                {% for chef in chefsOptions %}
                    <option 
                        value="{{chef.id}}"
                        {% if recipe.chef_id == chef.id %}
                            selected
                        {% endif %}
                    >
                        {{ chef.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div id="ingredients">
        <div class="ingredient">

            <div class="name-input">Ingredientes</div>

            <div class="box-ingredients">
                {% for ingredient in recipe.ingredients %}
                    <div>
                        <input name="ingredients[]" value="{{ingredient}}">
                    </div>
                {% endfor %}
            </div>

            <input name="ingredients[]" class="input-ingredients">

            <button class="add-button add-ingredient" type="button">
                Adicionar novo ingrediente
            </button>
        </div>
    </div>

    <div class="preparation">

        <div class="name-input">Modo de preparo</div>

        <div class="box-preparation">
            {% for preparation in recipe.preparation %}
                <div>
                    <input name="preparation[]" value="{{preparation}}">
                </div>
            {% endfor %}
        </div>
        
        <input  name="preparation[]" class="input-preparation">

        <button class="add-button add-preparation" type="button">
            Adicionar novo passo
        </button>
    </div>

    <div class="information">
        <div class="name-input">Informações adicionais</div>
        <textarea name="information">{{recipe.information}}</textarea>
    </div>
</div>