{% extends "layout.njk" %}

{% block title %}
    <title>Criar Chef</title>
{% endblock %}

{% block header %}
    {% include "adminParts/header.njk" %}
{% endblock %}

{% block contents %}
    <form method="POST" action="/admin/chefs" enctype="multipart/form-data">
        <div class="recipe-detail">
            <span class="detail-title">Criando chef</span>
            <button 
                class="edit-button" 
                type="submit"
                onclick="ValidateEmptyFields.allChefFields(event)"
            >Salvar chef</button>
        </div>

        {% include "adminChefs/fields.njk" %}
    </form>
{% endblock %}

{% block footer %} {% endblock %}