{% extends "layout.njk" %}

{% block title %}
    <title>Chef - {{chef.name}}</title>
{% endblock %}

{% block header %}
    {% include "adminParts/header.njk" %}
{% endblock %}

{% block contents %}
    <section>
        <div class="recipe-detail">
            <span class="detail-title">Chef: {{chef.name}}</span>

            {% if user.is_admin == true %}
                <a class="edit-button" href="/admin/chefs/{{chef.id}}/edit">Editar chef</a>
            {% endif %}
        </div>

        <div class="box-chef-image">
            <div class="chef-image" style="background: url('{{chef.img}}')"></div>
        </div>

        <div class="recipe-title">
            <h2>{{chef.name}}</h2>
            <span>
                {% if recipesCount == '0' %}
                    <span>Nenhuma receita</span>
                {% else %}
                    {{recipesCount}}
                    {% if recipesCount == '1' %}
                        receita
                    {% else %}
                        receitas
                    {% endif %}
                {% endif %}
            </span>
        </div>
    </section>

    <section class="cards-food cards-food-admin">
        <h3>Receitas</h3>
            <div class="cards cards-admin-recipes">
                {% if recipesCount == '0' %}
                    <span>
                        Sem receitas para mostrar. <a href="/admin/recipes/create">Criar receita</a>
                    </span>
                {% else %}
                    {% for recipe in recipes %}
                        <div class="card-admin-recipes">
                            <div class="card-img-admin-recipes" style="background-image: url('{{recipe.img}}')">
                            </div>

                            <div class="card-info-admin-recipes">
                                <h4>{{recipe.title}}</h4>
                                <p>por {{recipe.chefs_name}}</p>
                                <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
    </section>
{% endblock %}

{% block footer %} {% endblock %}