<div class="recipe-fields">
    <div class="preparation" id="{{files[0].file_id}}">
        <div class="name-input" id="{{chef.id}}">Nome</div>
        <input name="name" value="{{chef.name}}">
    </div>

    <div class="recipe">
        <div class="name-input">Avatar</div>
        
        <div>
            <div id="avatar-preview">
                {% if files %}
                    {% for link in files %}
                        <div class="avatar-box" id="{{link.file_id}}">
                            <input class="avatar" value="{{link.src}}">
                            <span
                                onclick="avatarUpload.removedOldAvatar(event)"
                            >x</span>
                        </div>
                    {% endfor %}
                    <input type="hidden" name="removed_avatar">
                {% endif %}
            </div>

            <div id="avatar-upload">
                <input 
                    id="avatar-input"
                    type="file" 
                    name="avatar" 
                    multiple
                    accept="image/*"
                    onchange="avatarUpload.handleFileInput(event)"
                >
                <p>Enviar Avatar</p>
            </div>
        </div>
    </div>
</div>
