<header class="header-background">
    <div class="box-admin-header-menu">
        <div class="title">
            <h2 class="sr-only">Admin Foodfy</h2>

            <a href="/admin/chefs">
                <img src="/assets/admin-logo.png" alt="Foodfy">
            </a>
        </div>

        <nav>
            <ul>
                <li><a href="/admin/recipes">Receitas</a></li>
                <li><a class="admin-active" href="/admin/chefs">Chefes</a></li>
            </ul>
        </nav>
    </div>
</header>