{% extends "layout.njk" %}

{% block title %}
    <title>Detalhes - {{chef.name}}</title>
{% endblock %}

{% block header %}
    {% include "chefs/header.njk" %}
{% endblock %}

{% block contents %}
    <section>
        <div class="recipe-detail">
            <span class="detail-title">Chef: {{detail[0].name}}</span>

            <a class="edit-button" href="/admin/chefs/{{detail[0].chef_id}}/edit">Editar Chef</a>
        </div>

        <div class="box-chef-image">
            <div class="chef-image" style="background: url({{detail[0].avatar_url}})"></div>
        </div>

        <div class="recipe-title">
            <h2>{{detail[0].name}}</h2>
            <span>0 receitas</span>
        </div>
    </section>

    <section class="cards-food cards-food-admin">
        <h3>Receitas</h3>
            <div class="cards cards-admin-recipes">
                {% for chef in detail %}
                    <div class="card-admin-recipes">
                        <div class="card-img-admin-recipes" style="background-image: url({{chef.image}})">
                        </div>

                        <div class="card-info-admin-recipes">
                            <h4>{{chef.title}}</h4>
                            <p>por {{chef.name}}</p>
                            <a href="/admin/recipes/{{chef.id}}">Visualizar</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </section>
{% endblock %}

{% block footer %} {% endblock %}