<div class="recipe-fields">
    <div class="preparation">
        <div class="name-input">Nome</div>
        <input name="name" value="{{chef.name}}">
    </div>

    <div class="recipe">
        <div class="name-input">Avatar</div>
        <input type="url" name="avatar_url" value="{{chef.avatar_url}}">
    </div>
</div>