<div class="recipe-fields">
    <div class="preparation">
        <div class="name-input">Nome</div>
        <input name="name" value="{{chef.name}}">
    </div>

    <div class="recipe">
        <div class="name-input">Avatar</div>
        <div id="chef-photos-preview">
        </div>
        <div id="chefs-photos-upload">
            <input 
                id="photos-input"
                type="file" 
                name="avatar"
                multiple 
                accept="image/*"
                onChange="ChefsPhotosUpload.handleFileInput(event)"
            >

            <div class="add-chef-image-button">
                Enviar Avatar
            </div>
        </div>

        {# <input type="url" name="avatar_url" value="{{chef.avatar_url}}"> #}
    </div>
</div>