<div class="recipe-fields">
    <div class="preparation">
        <div class="name-input">Nome</div>
        <input name="author" value="{{recipe.author}}">
    </div>

    <div class="recipe">
        <div class="name-input">Avatar</div>
        <input type="url" name="image" value="{{recipe.image}}">
    </div>
</div>