{% extends "layout.njk" %}

{% block title %}
    <title>Criar Usuário</title>
{% endblock %}

{% block header %}
    {% include "adminRecipes/header.njk" %}
{% endblock %}

{% block contents %}
    
{% endblock %}

{% block footer %} {% endblock %}