{% extends "layout.njk" %}

{% block title %}
    <title>Editar Usuário</title>
{% endblock %}

{% block header %}
    {% include "adminParts/header.njk" %}
{% endblock %}

{% block contents %}
    <form method="POST" action="/admin/users/{{user_data.id}}?_method=put">
        <div class="recipe-detail admin-form">
            <span class="detail-title">Atualizar Usuário</span>

            <div class="buttons">
                <button 
                    class="delete-button delete-user"
                    onclick="ConfirmDelete.openContainer(event)"
                >Deletar</button>

                <button 
                    class="edit-button" 
                    type="submit"
                    onclick="ValidateEmptyFields.allUsersFields(event)"
                >Salvar</button>
            </div>
        </div>

        {% include "adminUsers/fields.njk" %}

        <input 
                type="hidden"
                name="id"
                value="{{user_data.id}}"
        >
    </form>

    <form id="form-delete" method="POST" action="/admin/users/{{user_data.id}}?_method=delete">
            <input type="hidden" name="id" value="{{user_data.id}}">

            <div class="confirmation-container">
                <div class="confirmation">
                    <p>Deletar usuário</p>
                    <p>
                        Você tem certeza que deseja deletar este usuário?<br>
                        Esta ação não poderá ser desfeita!
                    </p>

                    <button type="submit" class="confirm-delete">Sim, excluir</button>
                    <button 
                        class="cancel-delete"
                        onclick="ConfirmDelete.cancelDelete(event)"
                    >Cancelar</button>
                </div>
            </div>
    </form>
{% endblock %}

{% block footer %} {% endblock %}