<div class="recipe-fields">
    <div class="name-email">
        <div class="admin-name">
            <div class="name-input">Nome</div>
            <input 
                name="name" 
                value="{{user_data.name}}"
                placeholder="Digite o nome completo"
                required
            >
        </div>

        <div class="admin-email">
            <div class="name-input">Email</div>
            <input 
                type="email"
                name="email" 
                value="{{user_data.email}}"
                placeholder="Digite o email"
                onblur="Validate.apply(this, 'isEmail')"
            >
        </div>
    </div>

    <div class="admin-checkbox">
        <label class="name-input">
            <input 
                type="checkbox"
                name="is_admin"
                {% if user_data.is_admin == true %}
                    checked
                {% endif %}
                placeholder="Digite o email"
            >
            <span class="check-mark"></span>
            Administrador
        </label>
    </div>
</div>