{% extends "layout.njk" %}

{% block title %}
    <title>Criar Receita</title>
{% endblock %}

{% block header %}
    {% include "adminParts/header.njk" %}
{% endblock %}

{% block contents %}
    <form method="POST" action="/admin/recipes" enctype="multipart/form-data">
        <div class="recipe-detail">
            <span class="detail-title">Criando receita</span>
            <button 
                class="edit-button" 
                type="submit"
                onclick="ValidateEmptyFields.allRecipesFields(event)"
            >Salvar receita</button>
        </div>

        {% include "adminRecipes/fields.njk" %}
    </form>
{% endblock %}

{% block footer %} {% endblock %}