{% extends "layout.njk" %}

{% block title %}
    <title>Receita - {{recipe.title}}</title>
{% endblock %}

{% block header %}
    {% include "adminParts/header.njk" %}
{% endblock %}

{% block contents %}
    <div class="recipe-detail">
        <span class="detail-title">Receita: {{recipe.title}}</span>

        {% if isUserRecipes == true %}
            <a class="edit-button" href="/admin/recipes/{{recipe.id}}/edit">Editar receita</a>
        {% elif user.is_admin == true %}
            <a class="edit-button" href="/admin/recipes/{{recipe.id}}/edit">Editar receita</a>
        {% endif %}
    </div>

    <div class="gallery">
        <div class="highlight">
            {% if not files[0] %}
                <img class="recipe-image" src="https://via.placeholder.com/1080x720?text=Receita sem imagem" alt="Receita sem Imagem">
            {% else %}
                <img 
                    class="recipe-image" 
                    src="{{files[0].src}}" 
                    alt="{{files[0].name}}"
                >
            {% endif %}
        </div>

        <div class="viewImages">
            {% for image in files %}
                <img
                    src="{{image.src}}" 
                    alt="{{image.name}}"
                    {% if loop.index0 == 0 %}
                        class="active"
                    {% endif %}
                    onclick="ImageGallery.setImage(event)"
                >
            {% endfor %}
        </div>
    </div>

    <div class="recipe-title">
        <h2>{{recipe.title}}</h2>
        <span>por {{recipe.name}}</span>
    </div>

    <div class="recipe-info recipe-info-admin">
        <section class="ingredients">
            <h3>
                Ingredientes
                <span onclick="showAndHide.hideIngredients()">Esconder</span>
            </h3>

            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>- {{ingredient}}</li>
                {% endfor %}
            </ul>
        </section>

        <section class="method-of-preparation">
            <h3>
                Modo de preparo
                <span onclick="showAndHide.hidePreparation()">Esconder</span>
            </h3>
            
            <ul>
                {% for preparation in recipe.preparation %}
                    <li>- {{preparation}}</li>
                {% endfor %}
            </ul>
        </section>

        <section class="additional-information">
            <h3>
                Informações adicionais
                <span onclick="showAndHide.hideInformation()">Esconder</span>
            </h3>
            
            <ul>
                {% if recipe.information %}
                    <li>{{recipe.information}}</li>
                {% else %}
                    <li>Sem informações adicionais</li>
                {% endif %}
            </ul>
        </section>
    </div>
{% endblock %}

{% block footer %} {% endblock %}
