{% extends "layout.njk" %}

{% block title %}
    <title>Editar Receita - {{recipe.title}}</title>
{% endblock %}

{% block header %}
    {% include "adminParts/header.njk" %}
{% endblock %}

{% block contents %}
    <div class="recipe-form">
        <form method="POST" action="/admin/recipes?_method=PUT" enctype="multipart/form-data">
            <div class="recipe-detail">
                <span class="detail-title">Editando receita</span>

                <div class="buttons">
                    <button class="delete-button" form="form-delete">Deletar</button>

                    <button 
                        class="edit-button" 
                        type="submit"
                        onclick="ValidateEmptyFields.allEditRecipesFields(event)"
                    >Salvar receita</button>
                </div>
            </div>

            {% include "adminRecipes/fields.njk" %}

            <input 
                type="hidden"
                name="id"
                value="{{recipe.id}}"
            >
        </form>

        <form id="form-delete" method="POST" action="/admin/recipes?_method=delete">
            <input type="hidden" name="id" value="{{recipe.id}}">
        </form>
    </div>
{% endblock %}

{% block footer %} {% endblock %}