{% extends "layout.njk" %}

{% block title %}
    <title>Página não encontrada</title>
{% endblock %}

{% block header %}
    <header class="header-background">
        <div class="box-admin-header-menu">
            <div class="title">
                <h2 class="sr-only">Admin Foodfy</h2>

                <a href="">
                    <img src="/assets/admin-logo.png" alt="Foodfy">
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block contents %}
    <div class="box-error">
        <div class="error-message">
            <div class="error-image">
                <img src="/assets/error-404.png" alt="">
            </div>

            <div class="error-info">
                <span>Ops! Não encontramos sua receita.</span>
                <span>
                    Não se preocupe, navegue de volta para o gerenciamento de receitas.
                </span>
                <span>
                    <a href="/admin/recipes">Gerenciar Receitas</a>
                </span>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %} {% endblock %}