{% extends "layout.njk" %}

{% block title %}
    <title>Minhas Receitas</title>
{% endblock %}

{% block header %}
    {% include "adminParts/header.njk" %}
{% endblock %}

{% block contents %}
    <section class="cards-food cards-food-admin">
        <h3>Minhas receitas</h3>
            <div class="cards cards-admin-recipes">
                {% for recipe in recipes %}
                    <div class="card-admin-recipes">
                        <div class="card-img-admin-recipes" style="background-image: url('{{recipe.img}}')">
                        </div>

                        <div class="card-info-admin-recipes">
                            <h4>{{recipe.title}}</h4>
                            <p>por {{recipe.chefs_name}}</p>
                            <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </section>
{% endblock %}

{% block footer %} {% endblock %}