@keyframes hidemessage {
    to {
        top: -50px;
        opacity: 0;
    }
}

.messages {
    padding: 22px 30px;
    font-size: 1.6rem;
    border-radius: 4px;

    position: fixed;
    right: 12px;
    top: 12px;

    opacity: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    animation: hidemessage 600ms 5s ease-out forwards;
}

.error {
    background-color: var(--color-red);
    color: white;
}

.success {
    background-color: var(--color-success);
    color: white;
}

/* lotti */
.success-lottie {
    width: 50px;
    padding: 0;
    margin-right: 10px;
}

.error-lottie {
    width: 50px;
    padding: 0;
    margin-right: 10px;
}
