.profile-password {
    width: 450px;
}

.profile-button {
    padding: 9px 42px;
}

.welcome {
    display: flex;
    align-items: flex-start;
}

.welcome span {
    display: block;
}

.profile-type {
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: .5px;
    margin-left: 50px;
    border-radius: 20px;
    padding: 2px 10px;
    text-transform: uppercase;

    display: flex;
    align-items: center;
}

.is_admin_header {
    background-color: var(--color-success);
}

.is_user_header {
    background-color: var(--color-purple);
}

.profile-type span {
    font-size: 2.0rem;
    margin-right: 3px;
}

.is_user_header p {
    margin-top: 2px;
}