/* ========== HEADER ========== */
.session-header {
    background-color: white;
    padding: 35px 0 0 0;

    display: flex;
    justify-content: center;
}

.session-header .title {
    margin: 0;
}

/* ========== CONTAINER-FORM ========== */
.container-session {
    height: calc(85vh);
    display: flex;
    align-items: center;
}

.container-session .pagination {
    margin: 0;
}

/* ========== FORM ========== */
.session-form {
    width: 500px;
    margin: 0 auto;
}

.session-form h3 {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 35px;
}

.session-fields {
    margin-bottom: 45px;
}

.session-fields .admin-email {
    margin-bottom: 35px;
}

.session-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.session-login a {
    color: var(--color-session);
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
    transition: 300ms;
}

.session-login a:hover {
    filter: brightness(80%);
}

.session-login button {
    padding: 9px 36px;
}

/* ========== PASSWORD RESET */
.session-fields .admin-password {
    margin-bottom: 35px;
}

/* ========== LOGIN ERROR ========== */
.login-error {
    border: 1px solid red !important;
}

/* ========== SESSION - FORGOT PASSWORD ========== */
.forgot-password .name-input {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.forgot-password {
    margin-bottom: 40px;
}

.session-forgot-password {
    text-align: right;
}

.session-forgot-password button {
    padding: 9px 26px;
}

/* ========== MESSAGES */
.forgot-password .error {
    background-color: var(--color-red);
    color: white;
    padding: 6px;
    border-radius: 0 0px 4px 4px;
}
