<!DOCTYPE html>
    <html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/styles.css">

        {% block title %}
            <title>Foodfy</title>
        {% endblock %}
    </head>
    
    <body>
        {% block header %}
            <header>
                <div class="page-foodfy">
                    <div class="title">
                    <h1 class="sr-only">Foodfy</h1>

                    <a href="/">
                        <img src="/assets/logo.png" alt="Foodfy">
                    </a>
                    </div>

                    <nav>
                        <ul>
                            {% block links %}
                                <li><a href="/about">Sobre</a></li>
                                <li><a href="/recipes">Receitas</a></li>
                                <li><a href="/chefs">Chefs</a></li>
                            {% endblock %}
                        </ul>
                    </nav>

                </div>
                
                {% block search %}
                    <div class="input-search">
                        <form action="/search" method="GET">
                            <input 
                                type="text" 
                                name="search"
                                value="{{search}}"
                                placeholder="Buscar uma receita"
                            >
                            <button>Buscar</button>
                        </form>
                    </div>
                {% endblock %}
            </header>
        {% endblock %}

        <main>
            <div class="container">
                {% block contents %}
                {% endblock %}
            </div>
            
            {% block footer %}    
                <footer>
                    <span>Todos os direitos reservados, receitas Foodfy</span>
                </footer>
            {% endblock %}

            <script src="/scripts.js"></script>
        </main>
    </body>
</html>